<body>

<h1>All articles:</h1>

<ol>
  <% @articles.each do |article| %>
    <li><h4><%= link_to article.title, article_path(article) %></h4><br><%= article.body %><br><%= button_to "Delete Article", article_path(article), method: :delete, data: {confirm: "Really delete the article?"} %></li>
  <% end %>
</ol>

<%= button_to "New article", new_article_path, method: :get %>

</body>
